In [4]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine

In [5]:
pd.__version__

'2.1.4'

In [6]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])

In [8]:
df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [16]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [13]:
df = next(df_iter)

In [14]:
len(df)

100000

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])
df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])

In [17]:
df.head(n=0).to_sql('yellow_taxi_data', con=engine, if_exists='replace')

0

In [18]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 8.53 s
Wall time: 29 s

1000

In [19]:
while True:
    try:
        df = next(df_iter)
        df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])
        df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])
        %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    except StopIteration:
        break

CPU times: total: 9.3 s
Wall time: 30.8 s
CPU times: total: 10.2 s
Wall time: 30.2 s
CPU times: total: 9.16 s
Wall time: 30.4 s
CPU times: total: 8.2 s
Wall time: 34.3 s
CPU times: total: 8.77 s
Wall time: 38.4 s
CPU times: total: 8.8 s
Wall time: 38.1 s
CPU times: total: 8.3 s
Wall time: 32.5 s
CPU times: total: 8.55 s
Wall time: 33.4 s
CPU times: total: 7.28 s
Wall time: 34.5 s
CPU times: total: 8.11 s
Wall time: 33.5 s
CPU times: total: 8.36 s
Wall time: 31.4 s

C:\Users\bregw\AppData\Local\Temp\ipykernel_16308\2226907210.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

CPU times: total: 8.55 s
Wall time: 27.4 s
CPU times: total: 6.47 s
Wall time: 17.7 s